body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0e0e0e;
    color: white;
    padding: 10px;
    z-index: 999;
}



.logo {     
    background-image: url("img/logo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    margin-right:10px;
    width: 70px;
    height: 70px;
}


.school-name {

}

h1 {
    margin: 0;
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background: #d4bdde;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.chart {
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    margin-top: 80px;
}
